#include "version.h"
1 ICON "thrusty.ico"
1 VERSIONINFO
FILEVERSION THRUSTY_VERSION_TUPLE
PRODUCTVERSION THRUSTY_VERSION_TUPLE
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "Thrusty T300 RS Control Panel\0"
   VALUE "FileVersion", THRUSTY_VERSION
   VALUE "ProductName", "Thrusty\0"
   VALUE "ProductVersion", THRUSTY_VERSION
   VALUE "OriginalFilename", "Thrusty.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
